// output directory
//params.dir = 'testdata/'
//params.dir = 'data/200313_M04531_0253_000000000-CWTBR/BaseCalls'
params.dir = 'data/'
params.output = 'lofreq_output/'
params.reference_genome = 'reference_genomes/covid_reference.fasta'
params.primer_scheme = 'primers/nCoV-2019-chrom.scheme.bed'
params.primer_scheme_ivar = 'primers/nCoV-2019-ivar.scheme.bed'
params.coverage_threshold = 20

profiles {
    // Conda
    conda {
        process.conda = 'environment.yml'
    }

// Singularity
    singularity {
        singularity.enabled = 'true'
        singularity.autoMounts = 'true'
    }

// Docker
    docker {
        process {
            withName:readsTrimming_trimgalore {
                container = 'trimgalore:v0.1'
            }
            withName:mapReads_bwa {
                container = 'bwa:v0.1' 
            }
            withName:trimAlignments_ivar {
                container = 'ivar_variants:v0.1'
            }
            withName:callVariants_ivar {
                container = 'ivar_variants:v0.1'
            }
            withName:callVariants_lofreq {
                container = 'lofreq_variants:v0.1'
            }
            withName:callVariants_varscan {
                container = 'varscan_variants:v0.1'
            }
            withName:callVariants_bcftools {
                container = 'bcftools:v0.1'
            }
            withName:callVariants_bcftools_old {
                container = 'bcftools:v0.1'
            }
            withName:filterVariants_bcftools {
                container = 'bcftools:v0.1'
            }
            withName:coverageRefSites_bedtools {
                container = 'bedtools:v0.1'
            }
            withName:lowCoverageSites_python {
                container =  'biopython:v0.1'
            }
            withName:flagLowAlleleFreqVariants_lofreq {
                container = 'lofreq_variants:v0.1'
            }
            withName:primerSitesVariants_bedtools {
                container =  'bedtools:v0.1'
            }
            withName:filterVariants_lofreq {
                container = 'lofreq_variants:v0.1'
            }
            withName: filterVariants_python {
                container = 'pyfilter:v0.1'
            }
            withName: mergeVcf_bcftools {
                container = 'bcftools:v0.1'
            }
            withName: mergeVcf_bcftools_lofreq {
                container = 'bcftools:v0.1'
            }
            withName: mergeVcf_bcftools_python {
                container = 'bcftools:v0.1'
            }
            withName:editVariants_bcftools {
                container = 'pyfilter:v0.1'
            }
            withName:editVariants_lofreq {
                container = 'pyfilter:v0.1'
            }
            withName:removeFilteredVariants {
                container = 'bcftools:v0.1'
            }
            withName:createConsensus_bcftools {
                container = 'bcftools:v0.1'
            }
            withName:createConsensus_lofreq {
                container = 'bcftools:v0.1'
            }
            withName:maskLowCoverageBases_lofreq {
                container = 'bedtools:v0.1'
            }
            withName:maskLowCoverageBases_bcftools {
                container = 'bedtools:v0.1'
            }
        }
        docker.enabled = 'true'
    }
}

manifest {
  author = 'Sara Rey'
  description = 'Nextflow describe'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.0.1'
}
